[Unit]
Description=Load QCA CLD3 WLAN Module
After=network.target

[Service]
Type=oneshot
ExecStart=/opt/halium-overlay/usr/share/halium-overlay/vendor/bin/load_wifi.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target