[Unit]
Description=Remember brightness when pressing power button
After=lomiri-full-greeter.service

[Service]
Type=simple
ExecStart=/vendor/bin/instantnoodle-brightness.sh

[Install]
WantedBy=default.target
