[Unit]
Description=Load QCA CLD3 WLAN Module
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/load_qca_cld3_wlan.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
