[Unit]
Description=Ubuntu Touch CPU Governor
Requires=lxc@android.service
After=lxc@android.service

[Service]
Type=oneshot
ExecStart=/vendor/bin/ubuntu-perf.sh

[Install]
WantedBy=multi-user.target